*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{

    background: #000;
}
header ul li{
    display: inline;
    list-style: none;
    padding: 50px ;
    margin: 50px;
}
li a{
    color: #fff;
    text-decoration: none;
}
section{
    display: flex;
    height: 500px;
    background: lightblue;
    flex-wrap: wrap;
    /* flex-grow: 1; */
}
.item{
    border: 3px solid gray;
    height: 120px;
    width: 200px;
    margin: 10px;
    background: lightcoral;
}