*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    height: auto;
    border: 2px solid gray;
}
h1{
    display: none;
    text-align: center;
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
    display: inline;
    margin: 0;
    padding: 20px;
}
h1:hover{
    background: gray;
    color: #fff;
}